*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
button, input, select, textarea{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: #000;
}
ul, ol, dl{
  list-style: none;
  list-style-type: none;
  
}